a {
  text-decoration: none;
  color: #36c;
}

a:hover,
a:focus {
  color: #333;
}

html {
  background-color: #ccc;
}

body>* {
  background-color: #eee;
}

body>header {
  border-radius: .6rem .6rem 0 0;
}

body>footer {
  border-radius: 0 0 .6rem .6rem;
}

body>header dd + dd::before,
body>header dd + dd::after {
  content: '"';
}

article>ul figure {
  background-color: #dedede;
}

thead th {
  font-weight: 700 !important;
  color: #36c !important;
  background-color: #ccc !important;
}

tbody td {
  background-color: #ddd;
}

/* Recipies Menu */
aside {
  border-top: 1px solid #bbb;
}
