@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/seafoam';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

html,
body {
	@apply h-full;
}

body {
	@apply flex flex-col overflow-y-scroll;
	background-image: radial-gradient(
		at 30% 20%,
		color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px,
		transparent 30%
	);
}

svg {
	display: inline-block;
}

/* Shiki CSS */
.shiki-magic-move-container {
	position: relative;
	white-space: pre;
}

.shiki-magic-move-line-number {
	opacity: 0.3;
	user-select: none;
}

.shiki-magic-move-item {
	display: inline-block;
	transition: color var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.shiki-magic-move-move {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.shiki-magic-move-enter-active,
.shiki-magic-move-leave-active {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.shiki-magic-move-container-resize,
.shiki-magic-move-container-restyle {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
	transition-delay: calc(var(--smm-duration, 0.5s) * var(--smm-delay-container, 1));
}

.shiki-magic-move-move {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-move, 1)) + var(--smm-stagger, 0)
	);
	z-index: 1;
}

.shiki-magic-move-enter-active {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-enter, 1)) + var(--smm-stagger, 0)
	);
	z-index: 1;
}

.shiki-magic-move-leave-active {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-leave, 1)) + var(--smm-stagger, 0)
	);
}

.shiki-magic-move-enter-from,
.shiki-magic-move-leave-to {
	opacity: 0;
}

br.shiki-magic-move-leave-active {
	display: none;
}

:root {
	--shiki-background: oklch(78.7% 0.01 286.45deg);
}
